<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#">
    <img src="../../assets/img/libros.png" height="40" width="40"> Inicio
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarSupportedContent" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="listar" class="nav-link">Listar</a>
      </li>
      <li class="nav-item">
        <a routerLink="crear" class="nav-link">Crear</a>
      </li>
      <li class="nav-item">
        <a routerLink="editar" class="nav-link">Editar</a>
      </li>
      <li class="nav-item">
        <a routerLink="borrar" class="nav-link">Borrar</a>
      </li>
    </ul>
  </div>
</nav>
<div class="form-group">
  <label for="id" class="text-white">Ingresar ID del libro a buscar:</label>
  <input type="text" #id class="form-control col-3"></div>
<div class="form-group"><input type="button" class="btn btn-info" value="Buscar" (click)="getLibro(id.value)"></div>

<table *ngIf="libro.titulo!=null;else id_invalido" class="table table-dark table-bordered table-striped">
    <thead>
      <tr>
        <th>Título</th>
        <th>Autor</th>
        <th>Edición</th>
        <th>Num.Copias</th>
        <th>Acciones</th>
      </tr>

    </thead>
    <tbody>
      <tr>
        <td>{{libro.titulo}}</td>
        <td>{{libro.autor}}</td>
        <td>{{libro.edicion}}</td>
        <td>{{libro.numcopias}}</td>
        <td>

           <a class="btn btn-outline-warning" routerLink="../borrar/{{libro.idlibro}}">Editar</a>&nbsp;
           <a class="btn btn-outline-danger" routerLink="../borrar/{{libro.idlibro}}">Borrar</a>

        </td>
      </tr>

    </tbody>
  </table>
  <ng-template #id_invalido> <h2 class="text-center text-white"> ID Inválido</h2> </ng-template>